#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.lz4
*.gcno

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/linux/version.h
include/generated
arch/*/include/generated

# quilt's files
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#
arch/arm/boot/compressed/ashldi3.S
arch/arm/boot/compressed/piggy.xzkern
arch/arm/boot/zImage

*.dtb
*.dts

*/zImage
*/*.img
*/*.zip

0
out
output

boot.img
recovery.img

buildimg/boot.att-ramdisk/init.sku.rc
buildimg/boot.can-ramdisk/init.sku.rc
buildimg/boot.spr-ramdisk/init.sku.rc
buildimg/boot.tmo-ramdisk/init.sku.rc
buildimg/boot.usc-ramdisk/init.sku.rc
buildimg/boot.vzw-ramdisk/init.sku.rc

buildimg/boot.att-ramdisk/default.prop
buildimg/boot.can-ramdisk/default.prop
buildimg/boot.spr-ramdisk/default.prop
buildimg/boot.tmo-ramdisk/default.prop
buildimg/boot.usc-ramdisk/default.prop
buildimg/boot.vzw-ramdisk/default.prop

buildimg/boot.att-ramdisk/starkissed
buildimg/boot.can-ramdisk/starkissed
buildimg/boot.spr-ramdisk/starkissed
buildimg/boot.tmo-ramdisk/starkissed
buildimg/boot.usc-ramdisk/starkissed
buildimg/boot.vzw-ramdisk/starkissed

arch/arm/configs/apq8084_sec_defconfig

arch/arm/configs/apq8084_sec_trlte_att_defconfig
arch/arm/configs/apq8084_sec_trlte_can_defconfig
arch/arm/configs/apq8084_sec_trlte_spr_defconfig
arch/arm/configs/apq8084_sec_trlte_tmo_defconfig
arch/arm/configs/apq8084_sec_trlte_usc_defconfig
arch/arm/configs/apq8084_sec_trlte_vzw_defconfig

skrecovery/att/system/etc/init.d/00StarKissed
skrecovery/can/system/etc/init.d/00StarKissed
skrecovery/spr/system/etc/init.d/00StarKissed
skrecovery/tmo/system/etc/init.d/00StarKissed
skrecovery/usc/system/etc/init.d/00StarKissed
skrecovery/vzw/system/etc/init.d/00StarKissed
