# TCP Congestion Control
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BIC=y
CONFIG_TCP_CONG_HSTCP=y
CONFIG_TCP_CONG_HYBLA=y
CONFIG_TCP_CONG_VEGAS=y
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_TCP_CONG_VENO=y
CONFIG_TCP_CONG_RENO=y
CONFIG_TCP_CONG_ILLINOIS=y
CONFIG_TCP_CONG_SCALABLE=y
CONFIG_TCP_CONG_LP=y
CONFIG_TCP_CONG_YEAH=y
CONFIG_TCP_CONG_ILLINOIS=y
CONFIG_DEFAULT_WESTWOOD=y
CONFIG_DEFAULT_TCP_CONG="westwood"

# CPU Governors
CONFIG_CPU_FREQ_GOV_DANCEDANCE=y
CONFIG_CPU_FREQ_GOV_LIONHEART=y
CONFIG_CPU_FREQ_GOV_SMARTMAX=y
CONFIG_CPU_FREQ_GOV_YANKACTIVE=y

# IO Schedulers
CONFIG_IOSCHED_SIO=y
CONFIG_IOSCHED_FIFO=y
CONFIG_IOSCHED_ZEN=y
CONFIG_IOSCHED_VR=y

# RAM Console
CONFIG_ANDROID_PERSISTENT_RAM=y
CONFIG_ANDROID_RAM_CONSOLE=y

# CPU
CONFIG_INTELLI_THERMAL=y
# CONFIG_CPUFREQ_HARDLIMIT is not set
CONFIG_CPU_VOLTAGE_TABLE=y
CONFIG_INTELLI_PLUG=y

# GPU
CONFIG_SIMPLE_GPU_ALGORITHM=y

# Battery
CONFIG_FORCE_FAST_CHARGE=y

# Power
CONFIG_POWERSUSPEND=y
CONFIG_POWER_SUSPEND_DEBUG=y

# Touchscreen
CONFIG_TOUCHSCREEN_SWEEP2WAKE=y

# Filesystem
CONFIG_DYNAMIC_FSYNC=y

# Audio
CONFIG_SLIMBUS_BOOST=y