CONFIG_LOCALVERSION="-Deported[SKU]"

# TCP Congestion Control
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BIC=y
CONFIG_TCP_CONG_HSTCP=y
CONFIG_TCP_CONG_HYBLA=y
CONFIG_TCP_CONG_VEGAS=y
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_TCP_CONG_VENO=y
CONFIG_TCP_CONG_RENO=y
CONFIG_TCP_CONG_ILLINOIS=y
CONFIG_TCP_CONG_SCALABLE=y
CONFIG_TCP_CONG_LP=y
CONFIG_TCP_CONG_YEAH=y
CONFIG_TCP_CONG_ILLINOIS=y
CONFIG_DEFAULT_HSTCP=y
CONFIG_DEFAULT_TCP_CONG="highspeed"

# CPU Governors
CONFIG_CPU_FREQ_GOV_DANCEDANCE=y
CONFIG_CPU_FREQ_GOV_LIONHEART=y
CONFIG_CPU_FREQ_GOV_SMARTMAX=y
# CONFIG_CPU_FREQ_GOV_YANKACTIVE is not set
CONFIG_CPU_FREQ_GOV_INTELLIDEMAND=y
CONFIG_CPU_FREQ_GOV_PEGASUSQ=y
CONFIG_CPU_FREQ_GOV_SMARTASS2=y
CONFIG_CPU_FREQ_GOV_UMBRELLA_CORE=y

# IO Schedulers
CONFIG_IOSCHED_SIO=y
CONFIG_IOSCHED_FIFO=y
CONFIG_IOSCHED_ZEN=y
CONFIG_IOSCHED_VR=y
CONFIG_DEFAULT_CFQ=y

# RAM Console
# CONFIG_ANDROID_PERSISTENT_RAM is not set
# CONFIG_ANDROID_RAM_CONSOLE is not set

# SEC Debug
CONFIG_SEC_DEBUG=y
CONFIG_SEC_LOG=y
CONFIG_SEC_SSR_DEBUG_LEVEL_CHK=y
CONFIG_SEC_DEBUG_SCHED_LOG=y
CONFIG_SEC_DEBUG_IRQ_EXIT_LOG=y
CONFIG_SEC_DEBUG_SUBSYS=y
CONFIG_SEC_LOGGER_BUFFER_EXPANSION=y
CONFIG_PRINTK_PROCESS=y
CONFIG_SEC_LOG_LAST_KMSG=y
# CONFIG_SEC_DEBUG_LOW_LOG is not set
CONFIG_SEC_DEBUG_NOCACHE_LOG_IN_LEVEL_LOW=y

# CPU
CONFIG_CPU_VOLTAGE_TABLE=y
# CONFIG_CPU_FREQ_LIMIT is not set
# CONFIG_MSM_CPUFREQ_LIMIT is not set 
CONFIG_CPUFREQ_HARDLIMIT=y
# CONFIG_THERMAL_MONITOR is not set
#CONFIG_INTELLI_THERMAL is not set
CONFIG_INTELLI_THERMAL_V2=y
CONFIG_INTELLI_PLUG=y

# GPU
CONFIG_SIMPLE_GPU_ALGORITHM=y

# Battery
CONFIG_FORCE_FAST_CHARGE=y

# Power
CONFIG_POWERSUSPEND=y
CONFIG_POWER_SUSPEND_DEBUG=y

# Touchscreen
CONFIG_TOUCHSCREEN_SWEEP2WAKE=y

# Filesystem
CONFIG_DYNAMIC_FSYNC=y
CONFIG_F2FS_FS=y
CONFIG_F2FS_STAT_FS=y
CONFIG_F2FS_FS_XATTR=y
CONFIG_F2FS_FS_POSIX_ACL=y

# Audio
CONFIG_SLIMBUS_BOOST=y
CONFIG_SOUND_CONTROL_HAX_3_GPL=y

# Color
CONFIG_MDNIE_LITE_CONTROL=y

# SELinux
CONFIG_SECURITY_SELINUX_DEVELOP=y