# StarKissed Extras

on early-init
    mount debugfs debugfs /sys/kernel/debug

    # Force stock max frequency during initial boot
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2649600

    # Configure SEAndroid booleans and enforcing mode
    setsebool debugfs 1

on init
    setenforce 0
    setprop ro.boot.selinux 0

on post-fs-data
    # Reload SE Android Policy
    setprop selinux.reload_policy 0

on boot
    # Run sysinit
    start sysinit

# Reload SE Android Policy for MDM
on property:persist.security.mdm.policy=1
    setprop selinux.reload_policy 1

on property:selinux.reload_policy=1
    chown system system /sys/fs/selinux/enforce
    chown -R system system /sys/fs/selinux/booleans
    chown system system /sys/fs/selinux/commit_pending_bools

# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

service sysinit /sbin/sku/busybox run-parts /system/etc/init.d
    disabled
    oneshot

service deported /sbin/sku/deported
    disabled
    oneshot
